.spinner-container-bg {
    background-color: rgb(127, 165, 255);
    min-height: 90vh;
}

.loadMsg {
    color: rgb(3, 1, 70);
}

.product-heder{
    font-size: 42px;
    color: rgb(242, 162, 105);
    text-align: center;
}

.product-container {
    min-height: 25%;
    width: 30%;
    background-color: aquamarine;
}

.product-name {
    font-size: 26px;
    color: rgb(14, 14, 167);
}

.product-image {
    height: 200px;
    width: 200px;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: rgb(14, 14, 167);
}

@media (max-width:768px) {
    .product-heder{
        font-size: 36px;
    }
    .product-container {
        width: 45%;
    }

    .product-name {
        font-size: 22px;
    }

    .product-image {
        height: 200px;
        width: 200px;
    }

    .product-price {
        font-size: 16px;
    }
}
@media (max-width:500px) {
    .product-heder{
        font-size: 30px;
    }
    .product-container {
        width: 90%;
    }

    .product-name {
        font-size: 22px;
    }

    .product-image {
        height: 200px;
        width: 200px;
    }

    .product-price {
        font-size: 16px;
    }
}