.home-container{
    min-height: 100vh;
    background-color: rgb(185, 206, 196) !important;
    color: rgb(6, 20, 174);
    display: flex;
    padding-top: 30vh;
    justify-content: center;
    text-align: center;
}